<% include ../partials/header %>
<div class="container">
  <header class="jumbotron">
    <h1>Home-Inventory</h1>
    <p>Keep track of all the stuff in your home.</p>
    <p><a class = " btn btn-default"href="/rooms/new">Add New Room</a></p>
  </header>
  <div class="row text-center" style = "display:flex; flex-wrap: wrap;">
    <% rooms.forEach(function(room){ %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <a href="/rooms/<%= room._id %>">
              <img src="<%= room.image %>" alt="">
            </a>
            <div class="caption">
              <a href="/rooms/<%= room._id %>" class="btn btn-default"><%= room.name %></a>
            </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>
<% include ../partials/footer %>
